<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

	<connectionStrings>
		<add name="PlanetasConnection" connectionString="Data Source=172.16.202.45;Initial Catalog=BD_B98050;User ID=B98050;Password=B07m06#11A;Pooling=False"/>
	</connectionStrings>
</configuration>
